[user]
  name = Holler János
  username = hollerjanos
  email = hollerjanika@gmail.com
[core]
  editor = nvim
  pager = /usr/bin/less
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = nvimdiff
[mergetool]
  keepBackup = false
[mergetool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c '$wincmd w' -c 'wincmd J'"
[merge]
  tool = vimdiff
[init]
  defaultBranch = main
[color "status"]
  added = green
  changed = yellow
  untracked = red
[alias]
  ci = commit
  co = checkout
  st = status -sb
  lg = log --graph --pretty=format:'%C(yellow)%h%C(auto)%d%Creset %s %C(white)- %an, %ar%Creset'
